<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div class="container">
    <div class="page-header">
    <h1>
      {{title}}
      <small>Projektni zadatak iz predmeta Web sistemi IT255</small>
    </h1>
  </div>
    <ul class="nav nav-pills nav-justified">

        <li><a routerLink="">Home</a></li>
        <li><a *ngIf="isAdmin" routerLink="/nova-kategorija">Nova kategorija</a></li>
        <li><a *ngIf="!korisnickoime" routerLink="/novi-korisnik">Registruj se</a></li>
        <li><a *ngIf="korisnickoime" routerLink="/izmeni-korisnika/{{korisnikid}}">Trenutni korisnik:{{korisnickoime}}</a></li>
        <li><a *ngIf="korisnickoime" routerLink="/logout">Izloguj se</a></li>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>
